<!DOCTYPE html>
<html>  
<head>
    <title>Neo的網站. {{ page.title }}</title>
    <link rel="shortcut icon" href="/pages/images/favicon.gif" type="image/gif" />
    <link rel="icon" href="/pages/images/favicon.gif" type="image/gif" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  </head>
  <body id="www-paperplanes-de">
	   <div id="head">
      		<div id="header-content">
        	<a href="/">
          	<img src="/pages/images/paperplane.png" id="paperplane">
        	</a>
		  <div id="about">
          		<h1 class="default">Hi, I'm Neo, nice to meet you!</h1>
          		<p style="color: white" class="default">
          		</p>
			
        </div>
		</div>
	</div>
	
  </body>
</html>
